*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: $color-white;
    overflow-x: hidden;
}

.wrapper {
    min-width: 37rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}

a {
    text-decoration: none;
    padding: 0;
    cursor: pointer;
}

.link--contact {
    color: $color-grey-light;
    transition: all .3s ease;


    &:hover {
        color: $color-white;
    }
}

.link--about {
    color: $color-grey-dark;
    border-bottom: .5px solid $color-grey-dark;
    transition: all .3s ease;
    font-size: $font-size-m;
    padding: .2rem;
    transition: all .3s ease;

    &:hover {
        color: $color-secondary;
        border-bottom: .5px solid $color-secondary;
    }
}