*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;   
}

.wrapper {
    min-width: 37rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}

a {
    &:link,
    &:visited {
        text-decoration: none;
        padding: 0;
        cursor: pointer; 
    }
}

.link--white {
    color: $color-grey-light;
    transition: color .3s ease;

    &:hover {
        color: $color-white;
        cursor: pointer;
    }
}

.link--orange {
    color: $color-grey-dark;
    border-bottom: .5px solid $color-grey-dark;
    transition: all .3s ease;

    &:hover {
        color: $color-secondary;
        border-bottom: .5px solid $color-secondary;
        cursor: pointer;
    }
}
