.heading_secondary {
    text-align: center;
    font-size: $size-xs*3;
    color: $color-grey-dark;
    text-transform: uppercase;

    &--white {
        color: $color-white;
    }
}

.heading-tertiary {
    font-size: $size-xs + $size-m;
    color: $color-grey-light;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.heading_fourth {
    margin-bottom: 1rem;
    color: $color-grey-dark;
    font-size: $size-xs*2;

    &--uppercase {
        text-transform: uppercase;
    }
}

.heading_fifth {
    margin-bottom: 1rem;
    color: $color-white;
    font-size: $size-l;
}

.paragraph {
    font-size: $size-m;
    margin-bottom: 2rem;
    color: $color-grey-dark;
    line-height: 1.6;
}

.paragraph--white {
    color: $color-white;
    padding-bottom: 0;
}

.paragraph--orange {
    color: $color-secondary;
    padding: .5rem 0;
    text-align: center;
}

.paragraph--contact {
    color: $color-grey-light;
    padding-bottom: 0;
}

.paragraph--copyright {
    color: $color-white;
    padding: 2rem 0;
    font-size: $size-s;
}

.paragraph--register {
    font-size: $size-l;
    font-weight: 700;
    margin-bottom: 4rem;;
    margin-top: 4rem;
}