.heading_secondary {
    text-align: center;
    font-size: 3rem;
    color: $color-grey-dark;
    text-transform: uppercase;
}

.heading_fourth {
    margin-bottom: 1rem;
    color: $color-grey-dark;
    font-size: 2rem;
}