@mixin hamburger__line {
    background-color: $color-grey-light;
    width: 100%;
    height: 3px;
    position: absolute;
}

@mixin img__personal($url) {
    width: 25rem;
    height: 25rem;
    background-image: $url;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;
    margin: $space-s auto; 
}

@mixin header__icon($color) {
    font-size: $font-size-xs*4;
    color: $color;
    vertical-align: middle;
    margin-bottom: $space-s;
}

@mixin gallery($grid-template-columns, $grid-template-rows) {
    max-width: $max-width-grid;
    display: grid;
    justify-content: center;
    grid-gap: $space-s;
    grid-template-columns: $grid-template-columns;
    grid-template-rows:  $grid-template-rows;
    padding: 0 $space-s;
    margin: 0 auto;
    margin-bottom: $space-m*2;
}

@mixin fadeIn ($transform) {
    transform: $transform scale(.9); 
    opacity: 0;
    transition: all 1s .1s ease;
}

@mixin benefitsSlideIn {
    transform: translateY(0);
    opacity: 1;
}


//MEDIA QUERIES

@mixin respond($breakpoints) {
    @if $breakpoints == tab-port {
        @media screen and (min-width: 768px) and (orientation: portrait) {@content}
    };

    @if $breakpoints == tab-land {
        @media screen and (min-width: 960px) {@content}
    };

    @if $breakpoints == desktop {
        @media screen and (min-width: 1367px) {@content}
    }

}