@mixin hamburger__line {
    background-color: $color-grey-light;
    width: 100%;
    height: 3px;
    position: absolute;
}

@mixin img__personal($url) {
    width: 25rem;
    height: 25rem;
    background-image: $url;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;
    margin: $space-s auto; 
}

@mixin header__icon($color) {
    font-size: $font-size-xs*4;
    color: $color;
    vertical-align: middle;
    margin-bottom: $space-s;
}

//MEDIA QUERIES

@mixin respond($breakpoints) {
    @if $breakpoints == tab-port {
        @media screen and (min-width: 768px) and (orientation: portrait) {@content}
    };

    @if $breakpoints == tab-land {
        @media screen and (min-width: 960px) {@content}
    };

    @if $breakpoints == desktop {
        @media screen and (min-width: 1366px) {@content}
    }

}