// color
$color-primary: #33aaa6;
$color-secondary: #f26522;

$color-grey-dark: #666666;
$color-grey-light: #eeeeee;

$color-white: #fff;

// typography
$size-xs: 1rem;
$size-s: 1.4rem;
$size-m: 1.6rem;
$size-l: 2.4rem;

// spacing
$space-s: 2rem;
$space-m: 3rem;

// z-index
$popup: 1000;
$nav: 10;

// border
$radius-s: 4px;