// color
$color-primary: #33aaa6;
$color-secondary: #f26522;

$color-grey-dark: #666666;
$color-grey-light: #eeeeee;

$color-white: #fff;

// typography
$font-size-xs: 1rem;
$font-size-s: 1.4rem;
$font-size-m: 1.6rem;
$font-size-l: 2.4rem;

// spacing
$space-s: 2rem;
$space-m: 3rem;

// z-index
$z-index-popup: 1000;
$z-index-nav: 10;

// border
$radius-s: 4px;

// screen width 
$max-width-grid: 1080px;