.about {
    margin-top: 4rem;

    &__box {
        margin: 4rem 2rem;
        text-align: center;

        a,
        a:link,
        a:visited {
            color: $color-grey-dark;
            border-bottom: 0.5px solid $color-grey-dark;
            margin: 0;
            padding: 0;
        }
    }

    &__img {
        
        

        &--item1 {
            width: 25rem;
            height: 25rem;
            background-image: url(../../img/profile_img_ania.jpg);
            background-size: cover;
            background-position: center;
            display: block;
            border-radius: 50%;
            margin: 2rem auto;
            
        }

        &--item2 {
            width: 25rem;
            height: 25rem;
            background-image: url(../../img/profile_img_radek.jpg);
            background-size: cover;
            background-position: center;
            display: block;
            border-radius: 50%;
            margin: 2rem auto;
        }
    }

    .link-more {
        color: $color-grey-dark;
        font-size: 1.6rem;
        padding: .2rem;
        border-bottom: 1px solid $color-grey-dark;

        &:hover {
            color: $color-secondary;
            border-bottom: 1px solid $color-secondary;
            cursor: pointer;
        }
    }

    // .paragraph {
    //     font-size: 1.4rem;
    //     padding-bottom: 2rem;
    //     color: $color-grey-dark;
    // }
}

