.about {
    padding-top: $space-s*2;

    &__box {
        margin: $space-s*2 $space-s;
        text-align: center;
    }

    &__img {
        
        

        &--item1 {
            width: 25rem;
            height: 25rem;
            background-image: url(../../img/profile_img_ania.jpg);
            background-size: cover;
            background-position: center;
            display: block;
            border-radius: 50%;
            margin: $space-s auto;    
        }

        &--item2 {
            width: 25rem;
            height: 25rem;
            background-image: url(../../img/profile_img_radek.jpg);
            background-size: cover;
            background-position: center;
            display: block;
            border-radius: 50%;
            margin: $space-s auto;    
            margin: 2rem auto;
        }
    }

    
}

@include respond(tab-land) {
    @supports (display:grid) {

        .about {
            padding: $space-m*2 $space-s;
            max-width: 1080px;
            margin: 0 auto;
            display: grid;
            grid-gap: 4rem 2rem;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 7rem 1fr;

            &__box {
                max-width: 30rem;
                margin: 0 auto;
                
            }
        }

        h2 {
            grid-column-start: span 2;
        }
    }

}


