.about {
    padding-top: $space-s*2;

    &__box {
        margin: $space-s*2 $space-s;
        text-align: center;
    }

    &__img {
        
        

        &--item1 {
            width: 25rem;
            height: 25rem;
            background-image: url(../../img/profile_img_ania.jpg);
            background-size: cover;
            background-position: center;
            display: block;
            border-radius: 50%;
            margin: $space-s auto;    
        }

        &--item2 {
            width: 25rem;
            height: 25rem;
            background-image: url(../../img/profile_img_radek.jpg);
            background-size: cover;
            background-position: center;
            display: block;
            border-radius: 50%;
            margin: $space-s auto;    
            margin: 2rem auto;
        }
    }

    
}

