.benefits {
    background-color: $color-secondary;
    margin-top: $space-s*2;
    padding: $space-s*2 $space-s;

    &__box {
        text-align: center;
    }

    &__box:not(:last-child) {
        margin: $space-s*2 0;
    }

    &__icon {
        font-size: $size-xs*4;
        color: $color-white;
        padding: $space-s;
    }
}

@include respond(tab-land) {
    @supports (display:grid) {

            .container__benefits {
                margin: 0 auto;
                max-width: 1080px;
                display: grid;
                justify-content: center;
                align-items: baseline;
                grid-gap: 4rem 2rem;
                grid-template-columns: repeat(3, minmax(300px, 1fr));
                grid-template-rows: 7rem 1fr;
            }

            .benefits {
                padding: $space-m*2 $space-s;
                
                &__box:not(:last-child) {
                    margin: 0;
                }
                
                &__box--item1 {
                    grid-column-start: 1;
                }
    
                &__box--item2 {
                    grid-column-start: 2;
                }
    
                &__box--item3 {
                    grid-column-start: 3;
                }
            }

        h2 {
            grid-column-start: span 3;
        }
    }
}