.divider {
    background-color: $color-primary;
    margin-top: $space-s*2 ;
    padding: $space-m*2 $space-s;
    text-align: center;

    .link-cta {
        color: $color-grey-light;
        font-size: $size-xs*2;
        font-weight: 300;
        padding: .5rem;
        border-bottom: 1px solid $color-grey-light;
        transition: all .3s ease;

        &:hover {
            color: $color-white;
            border-bottom: 1px solid $color-white;
        }


    }
}