.divider {
    background-color: $color-primary;
    margin-top: 4rem ;
    padding: 6rem 2rem;
    text-align: center;

    .link-cta {
        font-size: $size-xs*2;
        font-weight: 300;
        padding: .5rem;
        border-bottom: 1px solid $color-grey-light;
        
    }
}