.footer {
    margin-top: $space-s*2;
    background-color: $color-grey-dark;
    padding: $space-s*2 $space-s 0;
}

// contact info

.contact {

    &__info {
        padding: $space-s*2 0rem;
    }
    
    &__item {
        list-style-type: none;
        display: flex;
        font-size: $size-m;

        a:link,
        a:visited {
            margin: 0;
            padding: 0;
            border-bottom: .5px solid $color-grey-light;
            color: $color-grey-light;
        }

        a:hover {
            color: $color-white;
        }

        .uppercase {
            text-transform: uppercase;
        }
    }

    &__icon {
        color: $color-primary;
        min-width: 2rem;
        margin-right: 1rem;
        text-align: center;
        vertical-align: middle;
    }


   
}

// contact map

.contact {

    &__map {
        .map__box {
            text-align: center;
            position: relative;
            padding-bottom: 75%; // Tutaj regulujemy wysokość
            height: 0;
            overflow: hidden;

            .map {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    
}

.copyright {
    margin-top: $space-s*2;
    border-top: 1px solid $color-white;
    text-align: center;

    a,
    a:link,
    a:visited {
        margin: 0;
        padding: 0;
        border-bottom: .5px solid $color-white;
    }
}