.footer {
    background-color: $color-grey-dark;
    padding: $space-s*2 $space-s 0;
    margin-top: $space-s*2;
}

// contact info

.contact {

    &__info {
        padding: $space-s*2 0rem;
    }

    &__item {
        font-size: $font-size-m;
        list-style-type: none;
        display: flex;

        a:link,
        a:visited {
            margin: 0;
            padding: 0;
            border-bottom: .5px solid $color-grey-light;
            color: $color-grey-light;
        }

        a:hover {
            color: $color-white;
        }

        .uppercase {
            text-transform: uppercase;
        }
    }

    &__icon {
        text-align: center;
        min-width: 2rem;
        vertical-align: middle;
        color: $color-primary;
        margin-right: 1rem;
    }
}

// contact map

.contact {

    &__map {
        .map {
            text-align: center;
            position: relative;
            padding-bottom: 75%;
            height: 0;
            overflow: hidden;
        }

        .map__box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

// copyright

.copyright {
    text-align: center;
    margin-top: $space-s*2;
    border-top: 1px solid $color-white;
}

@include respond(tab-land) {
    @supports (display:grid) {

        .footer {
            padding: 0;

            &__container {
                max-width: $max-width-grid;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 7rem 1fr 10rem;
                margin: 0 auto;
                padding: $space-m*2 $space-s $space-s;

                h2 {
                    grid-column-start: span 2;
                    text-align: start;
                }

                .copyright {
                    grid-column-start: span 2;
                    grid-row-start: 3;
                }

                .contact {

                    &__info {
                        padding: 0;
                    }
                }
            }
        }
    }
}