.gallery {
    margin-top: $space-s*2;

    .lokal__photo {
        margin: $space-s*2 $space-s 0 $space-s;
        
        img {
            border-radius: $radius-s;
        }
    }
}


@include respond(tab-port) {
    @supports (display:grid) {
        
        .gallery {
            @include gallery(repeat(3, minmax(100px, 1fr)));

            h2 {
                grid-column-start: span 3;
            }

            .lokal__photo {
                margin: 0;
            }
        }
    }
}


@include respond(tab-land) {
    @supports (display:grid) {

        .gallery {
            @include gallery(repeat(3, minmax(300px, 1fr)));

            h2 {
                grid-column-start: span 3;
            }

            .lokal__photo {
                margin: 0;
                @include fadeIn(translateY(30%));

                &.slide {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}
