.nav {
    height: 100vh;
    width: 25rem;
    background-color: $color-primary;
    position: fixed;
    display: inline-block;
    background-color: transparent;
    top: 0;
    right: 0;
    transform: translateX(25rem);
    z-index: $nav;
}

.nav, .hamburger {
    transition: transform .3s .1s ease-in-out;
}

.nav--active {
    transform: translateX(0rem);
}

.nav__list {
    margin-top: $space-m*2;
    list-style: none;
}

.nav__item {
    margin: $space-s $space-s*2;
    font-size: $size-xs*2;
    color: $color-white;

}

.nav__link {
    color: $color-grey-light;
    transition: all .2s .1s ease-in-out;

    &:hover {
        color: $color-white;
    }

}


@include respond(tab-land) {
    @supports (display:grid) {
        .nav {
            height: 6rem;
            width: 100vw;
            transform: translateX(0);
            
            &__list {
                display: flex;
                justify-content: center;
                margin: 0; 
            }

            .nav__link {
                color: $color-grey-dark;
                transition: all .2s .1s ease-in-out;
            
                &:hover {
                    color: $color-secondary;
                }
            
            }
    
        }

        .nav--colored {
            background-color: $color-grey-light;
        }
    }
}


// HAMBURGER

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: $color-primary;
    border: none;
    border-radius: $radius-s;
    margin: $space-s;
    position: fixed;
    right: 0;
    

}

.hamburger--active {
    transform: translateX(-25rem);
}

.hamburger__box {
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.hamburger__inner {
    @include hamburger__line;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    @include hamburger__line;

    content: "";
    left: 0;
    transition: transform .3s  ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

@include respond(tab-land){
    @supports (display:grid) {
        .hamburger {
            display: none;
        }
    }
}



