.nav {
    height: 100vh;
    width: 25rem;
    background-color: $color-primary;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-25rem);
}

.nav, .hamburger {
    transition: transform .3s .1s ease-in-out;
}

.nav--active {
    transform: translateX(0rem);
}

.nav__list {
    margin-top: 5rem;
    list-style: none;
}

.nav__item {
    margin: 2rem;
    font-size: $size-xs*2;
}

// HAMBURGER

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: $color-primary;
    border: none;
    border-radius: 4px;
    margin: 2rem;
    position: fixed;
}

.hamburger--active {
    transform: translateX(25rem);
}

.hamburger__box {
    width: 35px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.hamburger__inner {
    @include hamburger__line;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    @include hamburger__line;

    content: "";
    left: 0;
    transition: transform .3s  ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

