.popup {
    width: 100%;
    height: 100%;
    background-color: rgba($color-grey-dark, .6) ;
    z-index: $popup;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;

}

.popup--active {
    display: flex;
}

.popup__box {
    width: 90%;
    height: 90%;
    background-color: $color-white;
    padding: 4rem 3rem;
    text-align: center;
    border-radius: 4px;
    overflow: auto;
    position: relative;
    margin-top: 0;
    margin-right: 0;
}

.popup__close{
    position: absolute;
    top: calc(5% + 1rem);
    right: calc(5% + 2rem);
    font-size: $size-xs*3;
    color: $color-grey-dark;
    transition: color .3s ease;
    z-index: 2000;

    &:hover {
        color: $color-secondary;
    }
}