
.prices {
    padding-top: $space-s*2;

    &__box {
        text-align: center;
        padding: 3rem;
        margin: $space-s*2 $space-s 0 $space-s;
        background-color: $color-grey-light;
        min-height: 10rem;
        border-radius: 4px; 
    }

    .price {
        display: block;
        color: $color-grey-dark;
        font-size: $size-xs*2;
        font-weight: 700;

    }
}

