
.prices {
    padding-top: $space-s*2;

    &__box {
        text-align: center;
        padding: 3rem;
        margin: $space-s*2 $space-s 0 $space-s;
        background-color: $color-grey-light;
        min-height: 10rem;
        border-radius: 4px; 
    }

    .price {
        display: block;
        color: $color-grey-dark;
        font-size: $size-xs*2;
        font-weight: 700;

    }
}

@include respond(tab-land) {
    @supports (display:grid) {

        .prices {
            max-width: 1080px;
            padding: $space-m*2 $space-s;
            margin: 0 auto;
            display: grid;
            grid-gap: $space-s*2 $space-s;
            grid-template-columns: repeat(3, minmax(300px, 1fr));
            grid-template-rows: 7rem repeat(2, minmax(210px, 1fr));

            .paragraph {
                grid-column-start: span 3;
            }

            &__box {
                min-height: 210px;
                margin: 0;
                padding: $space-s;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                
            }

        }
    }
}

