
.prices {
    padding-top: 4rem;

    &__box {
        text-align: center;
        padding: 3rem;
        margin: 4rem 2rem 0 2rem;
        background-color: $color-grey-light;
        min-height: 10rem;
        border-radius: 4px;
    }

    .price {
        display: block;
        color: $color-grey-dark;
        font-size: $size-xs*2;
        font-weight: 700;

    }
}

