.service {
    padding-top: $space-s*4;
  
    .heading_fourth:not(:last-child) {
        margin-bottom: 1rem;
        color: $color-grey-dark;
        font-size: $size-xs*2;
        
    }

    .service__box {
        padding: $space-m;
        margin: $space-s*2 $space-s;
        background-color: $color-grey-light;
        min-height: 25rem;
        border-radius: $radius-s;
    }

    .service__items {
        font-size: $size-m;
        line-height: 1.6;
        color: $color-grey-dark;
    }
    
}