.service {
    padding-top: 4rem;
  
    .heading_fourth:not(:last-child) {
        margin-bottom: 1rem;
        color: $color-grey-dark;
        font-size: $size-xs*2;
        
    }

    .service_box {
        padding: 3rem;
        margin: 4rem 2rem;
        background-color: $color-grey-light;
        min-height: 25rem;
        border-radius: 4px;
    }

    .service_items {
        font-size: $size-m;
        line-height: 1.6;
        color: $color-grey-dark;
    }
    
}