.service {
    padding-top: $space-s*2;

    .heading_fourth:not(:last-child) {
        color: $color-grey-dark;
        font-size: $font-size-xs*2;
        margin-bottom: 1rem;
    }

    &__box {
        background-color: $color-grey-light;
        border-radius: $radius-s;
        padding: $space-m;
        margin: $space-s*2 $space-s;
    }

    &__items {
        font-size: $font-size-m;
        color: $color-grey-dark;
        line-height: 1.6;
    }

    &__pictures {
        display: none;
    }
}

@include respond(tab-land) {
    @supports (display:grid) {

        .service {
            max-width: $max-width-grid;
            display: grid;
            grid-gap: $space-s;
            justify-content: center;
            align-items: start;
            grid-template-columns: repeat(3, minmax(300px, 1fr));
            grid-template-rows: 7rem repeat(2, minmax(300px, 1fr));
            padding: $space-m*2 $space-s;
            margin: 0 auto;

            &__box {
                height: 33rem;
                min-height: 33rem;
                min-width: 30rem;
                padding: $space-m $space-s*2;
                margin: 0;
            }

            &__pictures {
                padding: $space-m;
                margin: 0;
                height: 33rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $radius-s;

                &--player {
                    background-color: $color-primary;
                    font-size: $font-size-l*5;
                    color: $color-white;
                    @include fadeIn(translateX(30%));

                    .fas {
                        transform: scaleX(-1);
                    }
                }

                &.slide {
                    transform: translateX(0px) scale(1);
                    opacity: 1;
                }

                &--women {
                    background-color: $color-secondary;
                    font-size: $font-size-l*5;
                    color: $color-white;
                    @include fadeIn(translateX(-30%));
                }

                &.slide {
                    transform: translateX(0px) scale(1);
                    opacity: 1;
                }
            }

            h2 {
                grid-row-start: 1;
                grid-column: 2;
            }

            &__box--1 {
                grid-row-start: 2;
                grid-column: 1;
            }

            &__box--2 {
                grid-row-start: 2;
                grid-column: 2;
            }

            &__pictures {

                &--player {
                    grid-row-start: 2;
                    grid-column: 3;
                }
            }

            &__pictures {

                &--women {
                    grid-row-start: 3;
                    grid-column: 1;
                }
            }

            &__box--3 {
                grid-row-start: 3;
                grid-column: 2;
            }

            &__box--4 {
                grid-row-start: 3;
                grid-column: 3;
            }
        }
    }
}